@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background: #03000b;
	font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	color: white;
	text-decoration: underline;
}

.dynamic-island {
	position: relative;
}

.dynamic-island .pill {
	width: 80px;
	height: 20px;
	background: black;
	border-radius: 60px;
	animation: 2s ease-out 0s 1 onload;
	box-shadow: 0 -1px 1px .1px #ffffffd1, 0 -1px 4px 1px #af23ff85, 0 -1px 25px 4px #af23ff70;
	cursor: pointer;
	margin: 100px auto;
	transition: all 700ms cubic-bezier(0.32, 0.7, 0.22, 1.2);
}

@keyframes onload {
	0% {
		box-shadow: 0px 14px 1px -13px #ffffffd1, 0px -1px 4px 10px #af23ff85
	}

	50% {
		box-shadow: -5px 0px 1px -4px #ffffffd1, -5px 0px 8px -3px #af23ff85
	}

	100% {
		box-shadow: 0px -4px 1px -4px #ffffffd1, 0px -5px 4px -3px #af23ff85
	}
}

.dynamic-island.active .pill {
	width: 360px;
	height: 60px;
	pointer-events: none;
}

.dynamic-island .container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(0.2);
	filter: blur(20px);
	opacity: 0;
	display: flex;
	align-items: center;
	width: 346px;
	justify-content: space-between;
	pointer-events: none;
	transition: all 700ms cubic-bezier(0.32, 0.7, 0.22, 1.2);
}

.dynamic-island.active .container {
	transform: translate(-50%, -50%) scale(1);
	filter: blur(0);
	opacity: 1;
}

.dynamic-island .left {
	display: flex;
	align-items: center;
	color: white;
	gap: 10px;
}

.dynamic-island .photo {
	height: 50px;
	cursor: pointer;
	pointer-events: auto;
}

.dynamic-island .photo img {
	height: 100%;
	border-radius: 50%;
}

.dynamic-island .device {
	font-size: 14px;
	opacity: 40%;
}

.dynamic-island .right {
	display: flex;
	gap: 10px;
	transform: rotateY(-90deg);
	filter: blur(20px);
	pointer-events: auto;
	transition: all 1000ms cubic-bezier(0.32, 0.7, 0.22, 1.2);
}

.dynamic-island .right img {
	cursor: pointer;
	image-rendering: optimizeQuality;
	/* image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges; */
}

.dynamic-island.active .right {
	filter: blur(0);
	transform: rotateY(0deg);
}

.dynamic-island .right .social-icons {
	display: flex;
	flex-direction: column;
	gap: 18px;
	position: absolute;
	bottom: 69px;
	right: 0;
	transform: translateY(-5%);
	opacity: 0;
}

.dynamic-island .right .social-icons img {
	width: 40px;
	height: 40px;
}

.dynamic-island .right .social-icons img[alt="github"] {
	filter: invert(1) brightness(2);
}

.dynamic-island .right .social-icons.hidden {
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.1s ease-out;
}

.dynamic-island .right .social-icons.visible {
	opacity: 1;
	pointer-events: auto;
	transition: opacity 0.5s ease-in;
}

.dynamic-island .message.last {
	position: absolute;
	top: -95px;
	left: 40%;
	transform: translateX(-50%);
	transition: opacity 0.5s ease-in;
}

.dynamic-island .message.last.hidden {
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.1s ease-out;
}

.message {
	border-radius: 20px;
	padding: 4% 4%;
	color: white;
	background: rgb(0, 120, 254);
	position: relative;
	display: inline-block;
	user-select: none;
	width: 270px;
}

.message.last:before {
	content: "";
	position: absolute;
	z-index: 0;
	bottom: 0;
	right: -8px;
	height: 20px;
	width: 20px;
	background: rgb(0, 120, 254);
	border-bottom-left-radius: 15px;
}

.message.last:after {
	content: "";
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: -10px;
	width: 10px;
	height: 20px;
	background: #03000b;
	border-bottom-left-radius: 10px;
}
